node-red/quantum.json
[{"id":"fa6dd8a4.e6b838","type":"delay","z":"41c4d7d2.2639a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":460,"wires":[["73cceeb1.c607f","56ba2bd2.a6210c"]]},{"id":"c92141f9.80ec3","type":"inject","z":"41c4d7d2.2639a8","name":"go!","topic":"","payload":"000020","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["1c2686de.029211","9c87bb60.da0a8","46a6f730.5ad1d8"]]},{"id":"15a1b0e0.3b23df","type":"change","z":"41c4d7d2.2639a8","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"400000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":420,"wires":[["46a6f730.5ad1d8"]]},{"id":"5066bb95.6967f4","type":"change","z":"41c4d7d2.2639a8","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"004000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":460,"wires":[["46a6f730.5ad1d8"]]},{"id":"95decc5.7ce03b","type":"debug","z":"41c4d7d2.2639a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":220,"wires":[]},{"id":"73cceeb1.c607f","type":"switch","z":"41c4d7d2.2639a8","name":"which?","property":"answer","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1040,"y":460,"wires":[["15a1b0e0.3b23df"],["5066bb95.6967f4"],["c6e99e0c.b81ba8"]]},{"id":"c6e99e0c.b81ba8","type":"debug","z":"41c4d7d2.2639a8","name":"*** ugh! ***","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1210,"y":520,"wires":[]},{"id":"2bdc49d.ea77fb6","type":"inject","z":"41c4d7d2.2639a8","name":"Look","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":540,"wires":[["9f422b4e.fa241"]]},{"id":"46a6f730.5ad1d8","type":"function","z":"41c4d7d2.2639a8","name":"multiplier","func":"var colour = msg.payload;\nmsg.payload = '';\nfor (var i = 0; i<8; i++)\n    msg.payload += colour;\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":240,"wires":[["e3b2895c.d10438"]]},{"id":"8f0a2efd.93929","type":"mqtt out","z":"41c4d7d2.2639a8","name":"IBM Q System One","topic":"iot-2/evt/cmd/fmt/text","qos":"","retain":"","broker":"66b8a099.313d98","x":1590,"y":160,"wires":[]},{"id":"d1824463.0f71f","type":"inject","z":"41c4d7d2.2639a8","name":"activate qubit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":420,"wires":[["c0bde179.5eaf48"]]},{"id":"c0bde179.5eaf48","type":"function","z":"41c4d7d2.2639a8","name":"R + G","func":"var red = 4;\nvar black = 2;\nvar green = 2;\n\nmsg.payload = '';\n\nfor (var i=0; i<red; i++)\n    msg.payload += \"FF0000\";\n    \nfor (var i=0; i<black; i++)\n    msg.payload += \"000000\";\n    \nfor (var i=0; i<green; i++)\n    msg.payload += \"00FF00\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["fa6dd8a4.e6b838","e3b2895c.d10438"]]},{"id":"b88b91ed.594488","type":"change","z":"41c4d7d2.2639a8","name":"pulse","rules":[{"t":"set","p":"payload","pt":"msg","to":"P","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[["e3b2895c.d10438"]]},{"id":"43f8bab7.3c5634","type":"delay","z":"41c4d7d2.2639a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":480,"wires":[["9f422b4e.fa241"]]},{"id":"1c2686de.029211","type":"delay","z":"41c4d7d2.2639a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":160,"wires":[["b88b91ed.594488"]]},{"id":"9c87bb60.da0a8","type":"exec","z":"41c4d7d2.2639a8","command":"cd /Users/andysc/Quantum/qiskit-tutorials-0.7.0; ./go","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"quantum coin flip","x":530,"y":320,"wires":[["2c88199f.46a07e","b8a78004.6cf318"],["4a0c6bb0.f55364"],["bc3fb6ed.9e74f"]]},{"id":"56b58785.30bc","type":"debug","z":"41c4d7d2.2639a8","name":"stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":320,"wires":[]},{"id":"4a0c6bb0.f55364","type":"debug","z":"41c4d7d2.2639a8","name":"stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":360,"wires":[]},{"id":"bc3fb6ed.9e74f","type":"debug","z":"41c4d7d2.2639a8","name":"rc","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":400,"wires":[]},{"id":"9f422b4e.fa241","type":"random","z":"41c4d7d2.2639a8","name":"random outcome","low":"0","high":"1","inte":"true","property":"answer","x":470,"y":540,"wires":[["c0bde179.5eaf48"]]},{"id":"b8a78004.6cf318","type":"function","z":"41c4d7d2.2639a8","name":"parse","func":"var answer = msg.payload.substr(2,1);\nif (answer === '0' || answer === '1') {\n    msg.answer = Number(msg.payload.substr(2,1));\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":750,"y":320,"wires":[["56b58785.30bc","db5c72f3.d4305"],["43f8bab7.3c5634"]]},{"id":"db5c72f3.d4305","type":"link out","z":"41c4d7d2.2639a8","name":"","links":["243d40de.104088"],"x":895,"y":280,"wires":[]},{"id":"243d40de.104088","type":"link in","z":"41c4d7d2.2639a8","name":"result","links":["db5c72f3.d4305"],"x":555,"y":460,"wires":[["c0bde179.5eaf48"]]},{"id":"2c88199f.46a07e","type":"debug","z":"41c4d7d2.2639a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":759,"y":276,"wires":[]},{"id":"e3b2895c.d10438","type":"function","z":"41c4d7d2.2639a8","name":"mux","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":160,"wires":[["8f0a2efd.93929","95decc5.7ce03b"]]},{"id":"56ba2bd2.a6210c","type":"debug","z":"41c4d7d2.2639a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"answer","x":1050,"y":560,"wires":[]},{"id":"66b8a099.313d98","type":"mqtt-broker","z":"","broker":"jit4q3.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:jit4q3:GOctl:121b-9c2c","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
